@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'roboto', sans-serif;
}

body{
    background-color: #3aa5fc;
}

.container{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar{
    height: 80px;
    width: 100%;
    padding: 0;
    font-size: medium;
    font-family: sans-serif;
    text-align: center;
    background-color: rgba(26, 26, 138, 0.548);
    justify-content: flex-start;
    border-right: 0;
    border-left: 0;
    display: flex;
    top: 0;
    left: 0;
    letter-spacing: .2px;
    word-spacing: 0;
}

.navbar-nav-scroll {
  max-height: var(--bs-scroll-height, 75vh);
  overflow-y: auto;
}

.navbar-expand .navbar-nav-scroll {
  overflow: visible;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  .navbar-expand-lg .offcanvas-header {
    display: none;
  }
  .navbar-expand-lg .offcanvas {
    position: inherit;
    bottom: 0;
    z-index: 1000;
    flex-grow: 1;
    visibility: visible !important;
    background-color: transparent;
    border-right: 0;
    border-left: 0;
    transition: none;
    transform: none;
  }
  .navbar-expand-lg .offcanvas-top,
.navbar-expand-lg .offcanvas-bottom {
    height: auto;
    border-top: 0;
    border-bottom: 0;
  }
  .navbar-expand-lg .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-brand, img{
    border-radius: 2em;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link{
  list-style-type: none;
  padding: 10px 30px;
  margin: 17px;
  position: relative;
  background: rgba(26, 26, 138, 0.055);
  color: var(--clr);
  font-size: .75em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: 0.5s;
  border-radius: 1em;
}

.nav-link:hover{
  letter-spacing: 0.25em;
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr);
}

.nav-link::before{
  content: '';
  position: absolute;
  inset: 2px;
  background: rgba(26, 26, 138, 0.055);
  border-radius: 1em;
}

a span{
  position: relative;
  z-index: 1;
}

a i{
  position: absolute;
  inset: 0;
  display: block;
}

a i::before{
  content: '';
  position: absolute;
  top: -3.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--clr);
  background: rgba(26, 26, 138, 0.548);
  transform: translateX(-50%);
  transition: 0.5s;
}

a:hover i::before{
  width: 20px;
  left: 20%;
}
a i::after{
  content: '';
  position: absolute;
  bottom: -3.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--clr);
  background: rgba(26, 26, 138, 0.548);
  transform: translateX(-50%);
  transition: 0.5s;
}

a:hover i::after{
  width: 20px;
  left: 80%;
}

#time{
  display: flex;
  gap: 35px;
  color: #1e9bff;
}

#time .circle{
  position: relative;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#time .circle svg{
  position: relative;
  width: 64.5px;
  height: 64.5px;
  transform: rotate(265deg);
}

#time .circle svg circle{
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #191919;
  stroke-width: 2;
  transform: translate(3px, 3px);
}

#time .circle svg circle:nth-child(2){
  stroke: var(--clr);
  stroke-dasharray: 185;
}

#time div{
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 1em;
}

#time div span{
  position: absolute;
  transform: translateX(-50%) translateY(-10%);
  font-size: 0.7em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#time .ap{
  position: relative;
  font: .5em;
  transform: translateX(-25px);
}

.dots{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.dots::before{
  content: '';
  position: absolute;
  top: -3px;
  width: 10px;
  height: 10px;
}

header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #1e9bff;
  background-image: url("WhatsApp\ Image\ 2022-06-09\ at\ 22.29.11.jpeg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.masthead-subheading .masthead-heading{
  position: relative;
  justify-content: center;
  text-align: center;
  display: content;
}

header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header.masthead .masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
}

.btn-primary {
  color: #fff;
  background-color: #1e9bff;
  border-color: #1e9bff;
}
.btn-primary:hover {
  color: #fff;
  background-color: #005aa3;
  border-color: #cca000;
}

.dropdown-header {
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    color: #6c757d;
    white-space: nowrap;
}
  
.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
  }
  .timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
  }
  .timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
  }
  .timeline > li:after, .timeline > li:before {
    display: table;
    content: " ";
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  .timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #001aff;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .timeline > li:last-child {
    margin-bottom: 0;
  }
  .timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
    margin-top: 0;
    color: inherit;
  }
  .timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
    text-transform: none;
  }
  .timeline .timeline-body > ul,
  .timeline .timeline-body > p {
    margin-bottom: 0;
  }
  
  @media (min-width: 768px) {
    .timeline:before {
      left: 50%;
    }
    .timeline > li {
      min-height: 100px;
      margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
    }
  }
  @media (min-width: 992px) {
    .timeline > li {
      min-height: 150px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -85px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px;
    }
  }
  @media (min-width: 1200px) {
    .timeline > li {
      min-height: 170px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px;
    }
  }

.team-member {
  margin-bottom: 3rem;
  text-align: center;
}
.team-member img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgb(255, 255, 255);
}
.team-member h4, .team-member .h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.container .card{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 325px;
  padding: 20px;
  margin: 20px;
  background: #3634cc;
  flex-wrap: wrap;
}

.container .card::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border: 20px solid transparent;
  border-top: 20px solid #1e9bff;
  border-right: 20px solid #1e9bff;
}

.container .card.active::before{
  border-top: 20px solid #ff3b7e;
  border-right: 20px solid #ff3b7e;
}

.container .card .content{
  position: relative;
  height: 125px;
  overflow: hidden;
}

.container .card .content::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent,#3634cc);
}

.container .card.active .content{
  height: auto;
}

.container .card.active .content::before{
  display: none;
}

.container .card .content h2{
  color: #fff;
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 10px;
}

.container .card .content p{
  font-weight: 300;
  color: #ccc;
}

.container .card .more{
  position: relative;
  padding: 5px 10px;
  background: #1e9bff;
  margin-top: 5px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  color: #383838;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 10px;
  border-radius: 10px;
}

.container .card.active .more{
  background: #ff3b7e;
  color: #fff;
}

.container .card .more::before{
  content: 'READ MORE';
}

.container .card.active .more::before{
  content: 'READ LESS';
}

.contact{
  position: relative;
  width: 100%;
  padding: 50px 100px;
  background: #383838;
}

.contact .title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.contact .title h1{
  color: #fff;
  font-weight: 500;
}

.form{
  grid-area: form;
}

.info{
  grid-area: info;
}

.map{
  grid-area: map;
}

.contactUs{
  padding: 10px;
  background: #fff;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
}

.box{
  position: relative;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: 
  "form info"
  "form map";
  grid-gap: 10px;
  margin-top: 10px;
}

.contactUs h3{
  color: #0e3959;
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 10px;
}

.formBox{
  position: relative;
  width: 100%;
}

.formBox .row50{
  display: flex;
  gap: 15px;
}

.inputBox{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}

.formBox .row100 .inputBox{
  width: 100%;
}

.inputBox span{
  color: #1e9bff;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.inputBox input{
  padding: 5px;
  font-size: 1em;
  outline: none;
  border: 1px solid #333;
  border-radius: 2em;
}

.inputBox textarea{
  padding: 5px;
  font-size: 1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 250px;
  margin-bottom: 10px;
  border-radius: 1em;
}

.inputBox input[type="submit"]{
  background: #1d7dcc;
  color: #fff;
  border: none;
  font-size: 1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
}

.inputBox ::placeholder{
  color: #999;
}

.info{
  background: #0e3959;
}

.info h3{
  color: #fff;
}

.info .infoBox div{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info .infoBox div span{
  min-width: 40px;
  height: 40px;
  color: #fff;
  background: #1e9bff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  border-radius: 50%;
}

.info .infoBox div p{
  color: #fff;
}

.info .infoBox div a{
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

.sci{
  margin-top: 20px;
  display: flex;
}

.sci li{
  list-style: none;
  margin: 10px;
}

.sci li a{
  color: #fff;
  font-size: 2em;
  color: #ccc;
}

.sci li a:hover{
  color: #fff;
}

.map{
  padding: 0;
}

.map iframe{
  width: 100%;
  height: 100%;
}

@media (max-width: 991px){
  body{
    background: #1e9bff;
  }

  .contact{
    padding: 10px;
  }

  .box{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "form"
    "info"
    "map";
  }

  .formBox .row50{
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .inputBox{
    width: 100%;
  }

  .contactUs{
    padding: 20px;
  }

  .map{
    min-height: 300px;
    padding: 0;
  }
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}